node_modules/
/_build
/cover
/deps
erl_crash.dump
*.ez
*.beam
*.lock
GOOGLE_TRANSLATE_API_KEY
/opus-OS
/stanford-parser/
.node-version
0.7/*
bad/*
pcfg-done/
cache/*
xuanji-OSX.pem
*.sublime-project
*.sublime-workspace