.lineBlock {
  margin: 0.75em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.lineBlock.italic {
  font-style: italic;
}

.lineBlock > .right {
  margin-right: 0.5em;
}

.shuffledGameSlab {
    max-width: 1200px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.09);
    background-color: white;
}

.transcriptAndEnglishTilesArea {
    display: flex;
}

.transcriptArea {
    display: flex;
    flex-direction: column;
}

.englishTilesArea {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
}

.dimOnHover:hover {
    opacity: .7;
    filter: alpha(opacity=70);
    cursor: pointer;
}

.tileStyle {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-width: 1px;
    border-style: solid;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@media only screen and (max-width: 500px) { /* small screen */
    .transcriptAndEnglishTilesArea {
        flex-direction: column;
    }
}

@media only screen and (min-width: 500px) {
    .transcriptAndEnglishTilesArea {
        flex-direction: row;
    }
    .transcriptArea {
        flex: 2 0 0;
    }
    .englishTilesArea {
        flex: 1 0 0;
    }
}