#header {
	background: #fff;
	box-shadow: 1px 0 3px rgba(0,0,0,.7);
	z-index: 99;
	width: 100%;
	position: fixed;
	top: 0;
	border-radius: 0;
	margin-top: 0px;
}

#navbarBrand {
	height: auto;
    padding: 19px 0px 13px;
}

#header .navOptions > li > a {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px 20px;
}

#deskTopNavOptions > li > a {
	margin-top: 50px;
}

#header .navOptions > li > a:focus {
	color: #777;
}

#header .navOptions > li > a:hover {
	background-color: #E32C26;
	color: white;
}

#navbarBrand > img {
	padding-left: 10px;
	height: 85px;
	cursor: pointer;
}

#mobileNavOptions {
	display: none;
}

#dropdownButton {
	position: absolute;
    right: 15px;
    background-color: white;
}

@media screen and (min-width: 1000px) {
	#deskTopNavOptions {
		display: block;
	}

	#header > .container {
		width: 100%;
	    padding-right: 60px;
	    padding-left: 170px;
	}
}

/*Mobile device*/
@media screen and (max-width: 1000px) {
	#deskTopNavOptions {
		display: none;
	}

	#navbarBrand > img {
		margin: 0 auto;
	}

	#navbarBrand {
		float: none;
	}

	.topHeader {
		float: none;
	}
}